*{align-items: center;}

.contact-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: beige;
    border-radius: 50px;
    width: 60vw;
    margin: 2em;
    padding: 2em;
    overflow: hidden;
}

.form-cont{
    padding:2em;
    width:20%;
}


img{border-radius: 50px;object-fit: cover;}


