.cards {
  padding: 4rem;
  background: #B3FFAB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  text-align: center; 	
  
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

h2{
  font-size: 1.5em;
}
.Img{
  background: transparent;
  display: flex;
  align-items: center;
  transition: all 0.2s linear;
  padding: 0;
  margin: 0.3125em;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  width: 39%;
  height: 100%;
  object-fit: contain;

  
}

.Img:hover {
  transform: scale(1.1);
}

.Cardcont{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0.3125em;
 
  border: 0;
  justify-content: space-evenly;
  font-size: 4em;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;

}

.Para{ background-color: silver;
  border-radius: 1.875em;
  padding: 1.2em;
  font-size:1.4em;}

.Head{font-size: 3em;}

.Img{background-color: transparent;}
