iframe{border: 0;
width: 100%;
height: 290px;
border-radius: 30px;
}

.footer-cont{}

section{ background: #1c1b1b;
  color: white;
  text-align: justify;
  padding: 1em;
}


.heading{
  color: white;
}
